In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 9.5 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=2d8829bcf48c3d64171630dfcf8de54caf98a5e1c0e2cc363468804fce37a5e5
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.49
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 5.8 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed SQLAlchemy-1.4.49

In [2]:
%load_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [3]:
%sql postgresql://ID:PW@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [21]:
%%sql

DROP TABLE IF EXISTS fourksenhs.name_gender;
CREATE TABLE fourksenhs.name_gender (
   name varchar(32) primary key,
   gender varchar(8)
);

 * postgresql://fourksenhs:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [5]:
import psycopg2

# Redshift connection 함수
# 본인 ID/PW 사용!
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "ID"
    redshift_pass = "PW"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [6]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [7]:
def transform(text):
    lines = text.strip().split("\n")
    records = []
    for l in lines:
      (name, gender) = l.split(",") # l = "Keeyong,M" -> [ 'keeyong', 'M' ]
      records.append([name, gender])
    return records

In [15]:
def load(records):
    """
    records = [
      [ "Name", "Gender" ]
      [ "Keeyong", "M" ],
      [ "Claire", "F" ],
      ...
    ]
    """
    cur = get_Redshift_connection()
    cur.execute("BEGIN")
    cur.execute("TRUNCATE TABLE fourksenhs.name_gender")
    for r in records[1: ]:
        name = r[0]
        gender = r[1]
        print(name, "-", gender)
        sql = f"INSERT INTO fourksenhs.name_gender VALUES ('{name}', '{gender}')"
        cur.execute(sql)
    cur.execute("END")

# 이제 Extract부터 함수를 하나씩 실행

In [9]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [10]:
data

'name,gender\nAdaleigh,F\nAmryn,Unisex\nApurva,Unisex\nAryion,M\nAlixia,F\nAlyssarose,F\nArvell,M\nAibel,M\nAtiyyah,F\nAdlie,F\nAnyely,F\nAamoni,F\nAhman,M\nArlane,F\nArmoney,F\nAtzhiry,F\nAntonette,F\nAkeelah,F\nAbdikadir,M\nArinze,M\nArshaun,M\nAlexandro,M\nAyriauna,F\nAqib,M\nAlleya,F\nAavah,F\nAnesti,Unisex\nAdalaide,F\nAnalena,F\nAlaeyah,F\nAlbena,F\nAimi,F\nAdwaith,M\nArkady,M\nAstyn,Unisex\nAdelee,F\nAgata,F\nAlegna,F\nAltan,M\nAhnaleigh,F\nAlgie,Unisex\nAshanti,F\nAislyn,F\nAdaleine,F\nAnthnoy,M\nAlgernon,M\nAeryona,F\nAdrinne,F\nAddell,F\nAvril,F\nAhni,F\nAimon,M\nAdolpho,M\nAhuva,F\nAurielle,F\nAveana,F\nAliyia,F\nAlesander,M\nAdnrea,F\nAnjae,F\nAlvine,F\nAdorah,F\nAdlemi,F\nAlesi,F\nAlontae,M\nAntonny,M\nAdarah,F\nAyreanna,F\nAntyon,M\nAndia,F\nAshla,F\nAspyn,F\nAntwanett,F\nAundreia,F\nAudella,F\nAmari,Unisex\nArsha,Unisex\nAricella,F\nAdan,M\nApasra,F\nAlaysha,F\nAnderson,M\nAurelius,M\nAerial,F\nAverleigh,F\nAslean,F\nArniesha,F\nAsyana,F\nAnnjane,F\nAmabella,F\nAustinjohn,M\nArloween,F\nAlula,M\nAnemone,F\nAmorina,F\nAnureet,F\nArric,M\nAntonne,M\nAlyre,M\nAnnaise,F\n'

In [11]:
lines = transform(data)

In [12]:
lines

[['name', 'gender'],
 ['Adaleigh', 'F'],
 ['Amryn', 'Unisex'],
 ['Apurva', 'Unisex'],
 ['Aryion', 'M'],
 ['Alixia', 'F'],
 ['Alyssarose', 'F'],
 ['Arvell', 'M'],
 ['Aibel', 'M'],
 ['Atiyyah', 'F'],
 ['Adlie', 'F'],
 ['Anyely', 'F'],
 ['Aamoni', 'F'],
 ['Ahman', 'M'],
 ['Arlane', 'F'],
 ['Armoney', 'F'],
 ['Atzhiry', 'F'],
 ['Antonette', 'F'],
 ['Akeelah', 'F'],
 ['Abdikadir', 'M'],
 ['Arinze', 'M'],
 ['Arshaun', 'M'],
 ['Alexandro', 'M'],
 ['Ayriauna', 'F'],
 ['Aqib', 'M'],
 ['Alleya', 'F'],
 ['Aavah', 'F'],
 ['Anesti', 'Unisex'],
 ['Adalaide', 'F'],
 ['Analena', 'F'],
 ['Alaeyah', 'F'],
 ['Albena', 'F'],
 ['Aimi', 'F'],
 ['Adwaith', 'M'],
 ['Arkady', 'M'],
 ['Astyn', 'Unisex'],
 ['Adelee', 'F'],
 ['Agata', 'F'],
 ['Alegna', 'F'],
 ['Altan', 'M'],
 ['Ahnaleigh', 'F'],
 ['Algie', 'Unisex'],
 ['Ashanti', 'F'],
 ['Aislyn', 'F'],
 ['Adaleine', 'F'],
 ['Anthnoy', 'M'],
 ['Algernon', 'M'],
 ['Aeryona', 'F'],
 ['Adrinne', 'F'],
 ['Addell', 'F'],
 ['Avril', 'F'],
 ['Ahni', 'F'],
 ['Aimon', 'M'],
 ['Adolpho', 'M'],
 ['Ahuva', 'F'],
 ['Aurielle', 'F'],
 ['Aveana', 'F'],
 ['Aliyia', 'F'],
 ['Alesander', 'M'],
 ['Adnrea', 'F'],
 ['Anjae', 'F'],
 ['Alvine', 'F'],
 ['Adorah', 'F'],
 ['Adlemi', 'F'],
 ['Alesi', 'F'],
 ['Alontae', 'M'],
 ['Antonny', 'M'],
 ['Adarah', 'F'],
 ['Ayreanna', 'F'],
 ['Antyon', 'M'],
 ['Andia', 'F'],
 ['Ashla', 'F'],
 ['Aspyn', 'F'],
 ['Antwanett', 'F'],
 ['Aundreia', 'F'],
 ['Audella', 'F'],
 ['Amari', 'Unisex'],
 ['Arsha', 'Unisex'],
 ['Aricella', 'F'],
 ['Adan', 'M'],
 ['Apasra', 'F'],
 ['Alaysha', 'F'],
 ['Anderson', 'M'],
 ['Aurelius', 'M'],
 ['Aerial', 'F'],
 ['Averleigh', 'F'],
 ['Aslean', 'F'],
 ['Arniesha', 'F'],
 ['Asyana', 'F'],
 ['Annjane', 'F'],
 ['Amabella', 'F'],
 ['Austinjohn', 'M'],
 ['Arloween', 'F'],
 ['Alula', 'M'],
 ['Anemone', 'F'],
 ['Amorina', 'F'],
 ['Anureet', 'F'],
 ['Arric', 'M'],
 ['Antonne', 'M'],
 ['Alyre', 'M'],
 ['Annaise', 'F']]

In [23]:
load(lines)

Adaleigh - F
Amryn - Unisex
Apurva - Unisex
Aryion - M
Alixia - F
Alyssarose - F
Arvell - M
Aibel - M
Atiyyah - F
Adlie - F
Anyely - F
Aamoni - F
Ahman - M
Arlane - F
Armoney - F
Atzhiry - F
Antonette - F
Akeelah - F
Abdikadir - M
Arinze - M
Arshaun - M
Alexandro - M
Ayriauna - F
Aqib - M
Alleya - F
Aavah - F
Anesti - Unisex
Adalaide - F
Analena - F
Alaeyah - F
Albena - F
Aimi - F
Adwaith - M
Arkady - M
Astyn - Unisex
Adelee - F
Agata - F
Alegna - F
Altan - M
Ahnaleigh - F
Algie - Unisex
Ashanti - F
Aislyn - F
Adaleine - F
Anthnoy - M
Algernon - M
Aeryona - F
Adrinne - F
Addell - F
Avril - F
Ahni - F
Aimon - M
Adolpho - M
Ahuva - F
Aurielle - F
Aveana - F
Aliyia - F
Alesander - M
Adnrea - F
Anjae - F
Alvine - F
Adorah - F
Adlemi - F
Alesi - F
Alontae - M
Antonny - M
Adarah - F
Ayreanna - F
Antyon - M
Andia - F
Ashla - F
Aspyn - F
Antwanett - F
Aundreia - F
Audella - F
Amari - Unisex
Arsha - Unisex
Aricella - F
Adan - M
Apasra - F
Alaysha - F
Anderson - M
Aurelius - M
Aerial - F
Averleigh - F
Aslean - F
Arniesha - F
Asyana - F
Annjane - F
Amabella - F
Austinjohn - M
Arloween - F
Alula - M
Anemone - F
Amorina - F
Anureet - F
Arric - M
Antonne - M
Alyre - M
Annaise - F

In [24]:
%%sql

SELECT COUNT(1)
FROM fourksenhs.name_gender;

 * postgresql://fourksenhs:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(100,)]

In [27]:
%%sql

SELECT *
FROM fourksenhs.name_gender
ORDER BY NAME;

 * postgresql://fourksenhs:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
100 rows affected.

[('Aamoni', 'F'),
 ('Aavah', 'F'),
 ('Abdikadir', 'M'),
 ('Adalaide', 'F'),
 ('Adaleigh', 'F'),
 ('Adaleine', 'F'),
 ('Adan', 'M'),
 ('Adarah', 'F'),
 ('Addell', 'F'),
 ('Adelee', 'F'),
 ('Adlemi', 'F'),
 ('Adlie', 'F'),
 ('Adnrea', 'F'),
 ('Adolpho', 'M'),
 ('Adorah', 'F'),
 ('Adrinne', 'F'),
 ('Adwaith', 'M'),
 ('Aerial', 'F'),
 ('Aeryona', 'F'),
 ('Agata', 'F'),
 ('Ahman', 'M'),
 ('Ahnaleigh', 'F'),
 ('Ahni', 'F'),
 ('Ahuva', 'F'),
 ('Aibel', 'M'),
 ('Aimi', 'F'),
 ('Aimon', 'M'),
 ('Aislyn', 'F'),
 ('Akeelah', 'F'),
 ('Alaeyah', 'F'),
 ('Alaysha', 'F'),
 ('Albena', 'F'),
 ('Alegna', 'F'),
 ('Alesander', 'M'),
 ('Alesi', 'F'),
 ('Alexandro', 'M'),
 ('Algernon', 'M'),
 ('Algie', 'Unisex'),
 ('Alixia', 'F'),
 ('Aliyia', 'F'),
 ('Alleya', 'F'),
 ('Alontae', 'M'),
 ('Altan', 'M'),
 ('Alula', 'M'),
 ('Alvine', 'F'),
 ('Alyre', 'M'),
 ('Alyssarose', 'F'),
 ('Amabella', 'F'),
 ('Amari', 'Unisex'),
 ('Amorina', 'F'),
 ('Amryn', 'Unisex'),
 ('Analena', 'F'),
 ('Anderson', 'M'),
 ('Andia', 'F'),
 ('Anemone', 'F'),
 ('Anesti', 'Unisex'),
 ('Anjae', 'F'),
 ('Annaise', 'F'),
 ('Annjane', 'F'),
 ('Anthnoy', 'M'),
 ('Antonette', 'F'),
 ('Antonne', 'M'),
 ('Antonny', 'M'),
 ('Antwanett', 'F'),
 ('Antyon', 'M'),
 ('Anureet', 'F'),
 ('Anyely', 'F'),
 ('Apasra', 'F'),
 ('Apurva', 'Unisex'),
 ('Aqib', 'M'),
 ('Aricella', 'F'),
 ('Arinze', 'M'),
 ('Arkady', 'M'),
 ('Arlane', 'F'),
 ('Arloween', 'F'),
 ('Armoney', 'F'),
 ('Arniesha', 'F'),
 ('Arric', 'M'),
 ('Arsha', 'Unisex'),
 ('Arshaun', 'M'),
 ('Arvell', 'M'),
 ('Aryion', 'M'),
 ('Ashanti', 'F'),
 ('Ashla', 'F'),
 ('Aslean', 'F'),
 ('Aspyn', 'F'),
 ('Astyn', 'Unisex'),
 ('Asyana', 'F'),
 ('Atiyyah', 'F'),
 ('Atzhiry', 'F'),
 ('Audella', 'F'),
 ('Aundreia', 'F'),
 ('Aurelius', 'M'),
 ('Aurielle', 'F'),
 ('Austinjohn', 'M'),
 ('Aveana', 'F'),
 ('Averleigh', 'F'),
 ('Avril', 'F'),
 ('Ayreanna', 'F'),
 ('Ayriauna', 'F')]